spring:
  application:
    name: spring-ai
  ai:
    openai:
      api-key: ${api_key}
      chat:
        options:
          model: gpt-4o-mini
      embedding:
        options:
          model: text-embedding-3-small
    vectorstore:
      pgvector:
        initialize-schema: true
    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: always
            table-name: user-chat-memory

  datasource:
    url: jdbc:postgresql://localhost:5432/my-vector-db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

logging:
  level:
    org.springframework.ai:
      chat.client: DEBUG

weather.api.key: ${api_key2}
base.url: https://api.openweathermap.org
